@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Origin Super Condensed';
    src: url('/fonts/origin/OriginSuperCondensed-Regular.woff2') format('woff2'),
        url('/fonts/origin/OriginSuperCondensed-Regular.woff') format('woff'),
        url('/fonts/origin/OriginSuperCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Origin Super Condensed';
    src: url('/fonts/origin/OriginSuperCondensed-Bold.woff2') format('woff2'),
         url('/fonts/origin/OriginSuperCondensed-Bold.woff') format('woff'),
         url('/fonts/origin/OriginSuperCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Astoria';
    src: url('/fonts/astoria/AstoriaRoman.woff2') format('woff2'); /* Gunakan path absolut */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



h4 {
    font-size: 3.5rem;
    margin-bottom: 0px;
}
h5 {
    font-size: 2.5rem;
    margin-bottom: 0px;
}
.title-ornaments {
    position: relative;
}
.title-ornaments::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 130px;
    height: 40px;
    background-image: url('../bg/rectangle-302.png');
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: top left;
    opacity: 0.1;
}
.title-ornaments::after {
    content: '';
    position: absolute;
    top: 2rem;
    right: 0px;
    width: 130px;
    height: 40px;
    background-image: url('../bg/rectangle-303.png');
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.1;
}

.bg-barong {
    position: relative;
    background-image: url('../bg/mplid-s12-bg.jpg');
    background-size: auto 100%;
    background-repeat: repeat;
    background-position: center;
}
  
  
  /* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #B4B4B433;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #64000070;
  border-radius: 10px;
}
.relative:hover > .code-of-conduct {
    transform: translateX(5px); /* Geser elemen PNG ke kanan */
  }
  
  .bg-select-border-playlist {
    position: absolute;
    inset: 0; /* Shortcut untuk top, right, bottom, left menjadi 0 */
    pointer-events: none;
    background-color: white;
    border: 25px solid transparent;
    border-image: url('../bg/border-mplids12.png') 30 stretch;
  }
  @layer utilities {
    .frame-border {
      background-image: url('../bg/frame-news.png');
    }
  }
  
/* Responsive Adjustments */

/* sm: phone - landscape */
@media (min-width: 576px) {
}

/* md: tablet */
@media (min-width: 768px) {
}

/* lg: desktop */
@media (min-width: 992px) {
    h4 {
        font-size: 5rem;
        line-height: 5rem;
        margin-bottom: 15px;
        padding-top: 20px;
        letter-spacing: 0.04em;
    }
    h5 {
        font-size: 4rem;
        margin-bottom: 10px;
    }
    .bg-barong {
        background-size: 100% auto;
    }
    .title-ornaments::before {
        top: 20px;
        left: 0px;
        width: 500px;
        height: 80px;
    }
    .title-ornaments::after {
        top: 20px;
        right: 0px;
        width: 500px;
        height: 80px;
    }
}
